.focusImage{
	width: calc(100% + 1em);
    height: calc(100% + 1em);
    position: absolute;
    top: -12px;
    left: -12px;
    display: inline-block;
	span{
		width: 52%;
		height: 52%;
		border-top-left-radius: 100%;
		border-bottom: none !important;
		border-right: none  !important;
		position: absolute;
		left:0px;
		// top:-5px;
	}
	.overlay1{
		opacity: 1;
		border: 2px solid  #024b8d;
		z-index: 5
	}
	.overlay2{
		border: 4px solid #f7c59f;
		z-index: 3
	}
	.overlay3{
		width: calc(100% + 2em)!important;
		height: calc(100% + 2em) !important;
		border-top-left-radius: 50% !important;
		top:-2px;
		left:-2px;
		border: 2px solid #bdbd30;
		z-index: 1
	}
}
