///
/// Reflex by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Section/Article */

	section, article {
		header {
			h1, h2, h3, h4, h5, h6 {
				&:before {
					content: '';
					display: block;
					width: 2em;
					height: 1px;
					border-top: solid 1px;
					margin: 0 0 1em 0;
				}
			}

			p {
				font-size: 1.25em;
			}

			&.major {
				text-align: center;
				margin: 0 0 (_size(element-margin) * 1.5) 0;

				h1, h2, h3, h4, h5, h6 {
					&:before {
						margin-left: auto;
						margin-right: auto;
					}
				}
			}
			&.timelineMajor {
				margin-bottom: (_size(element-margin) * 1.35);
				padding-bottom: (_size(element-margin) * 1.35);
				position: relative;

				h1, h2, h3 {
					margin-bottom: 0;
				}

				p {
					font-weight: _font(weight-bold);
					margin-bottom: 0.25em;
					text-transform: uppercase;
				}

				&:after {
					bottom: 0;
					content: '';
					height: 1px;
					left: 0;
					position: absolute;
					width: 7em;
				}

				&.alt {
					margin-bottom: 0;
				}
			}
		}

		&.special {
			text-align: center;

			header {
				h2, h3, h4, h5, h6 {
					&:before {
						margin-left: auto;
						margin-right: auto;
					}
				}
			}
		}

		@include breakpoint(small) {
			header {
				p {
					font-size: 1em;

					br {
						display: none;
					}
				}
			}
		}
	}
